.slide {
    margin-top:10px;
}
.slide img{
    height: 280px;
    border-radius:10px;
    
}

.centrarCalesita {
display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* min-width:300px; */
}