html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding-right: 0;
    padding-top: 10px;
}

header {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 5px solid black;
    border-bottom: 10px solid black;
    background-color: gray;
}

#menu {
    display: flex;
    width: 50vw;
}

#dropd {
    border-left: 20px;
}

@media screen and (max-width: 766px) {
    #dropd {
        display: flex;
        width: 200px;
        justify-items: end;
    }
}

#lista2 li:hover {
    background-color: rgb(165, 251, 131);
}

nav ul {
    height: inherit;
    display: none;
    list-style: none;
    font-size: 20px;
    border: 0;
    margin: 0;
    padding: 0;
}

#lista1 li:hover {
    background-color: rgb(109, 38, 109);
}

#buton1:hover {
    background-color: rgb(52, 52, 134);
}

#icono {
    display: block;
}

section {
    height: min-content;
    width: inherit;
    border: 3px solid black;
    display: block;
    padding: 0;
    margin: 0;
}

#titulo {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 8px;
    background: linear-gradient(45deg, rgb(255, 103, 2), yellow);
}

#nombre_empresa {
    display: flex;
    width: 100%;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(2, 6, 243);
    justify-content: center;
}

#frase {
    display: flex;
    width: 100%;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    color: rgb(0, 0, 0);
    justify-content: center;
}

#principal {
    width: 100vw;
    /*max-width: 1070px;*/
    border: 0;
    padding-right: 0;
    margin-right: 0;
}

#sector_central {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    padding-right: 20px;
    /*border: 1px solid red;*/
}

#subsector1 {
    width: 100%;
    height: 50%;
    /*border: 2px solid blue;*/
}

@media screen and (min-width: 991px) {
    #subsector1 {
        height: 35%;
    }
}

#parrafos {
    width: 75%;
    /*height: 50%;*/
    max-height: 40%;
}

#div_dedo {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: initial;
    padding: 5px;
    /*border: 2px solid blue;*/
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 766px) {
    #div_dedo {
        width: 100%;
    }
    #parrafos {
        width: 100%;
    }
}

#dedo {
    width: 200px;
    height: 220px;
}

#separador {
    height: 100px;
    width: 100%;
}

#subsector2 {
    width: 100%;
    height: 50%;
    /*border: 2px solid blue;*/
}

@media screen and (min-width: 991px) {
    #subsector2 {
        height: 35%;
    }
}

#div_tutor {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: initial;
    padding: 5px;
    /*border: 2px solid blue;*/
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 766px) {
    #div_tutor {
        width: 100%;
    }
}

#tutor {
    width: 200px;
    height: 220px;
}

#atrapa_usuario {
    display: flex;
    width: 100%;
    justify-content: center;
    /*align-items: center;*/
    height: 600px;
    border: 0;
}

#atrapa_usuario form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(130deg, rgb(78, 159, 237) 10%, rgb(175, 214, 230) 45%, rgb(212, 245, 252) 100%);
    border-radius: 3%;
    padding: 2rem;
    box-shadow: 4px 4px 8px;
    height: 550px;
}

#regalo {
    height: 50px;
    width: 75%;
    padding-top: 5px;
    border-top: 0;
    margin-left: 15%;
    border-radius: 15px;
    margin-top: 25px;
    background-color: red;
}

#api_temperatura {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 0;
}

#div_temperatura {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
    /*border: 4px solid rgb(255, 0, 0);*/
}

@media screen and(max-width: 991px) {
    #div_temperature {
        width: 30%;
    }
}

#api_temperatura h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

#div_temperatura img {
    width: 20%;
    height: 20%;
}

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 80px;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer a i {
    font-size: 40px;
    color: blanchedalmond;
    justify-content: center;
    justify-content: space-around;
}

footer div {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

@media screen and (min-width: 776px) {
    #atrapa_usuario {
        padding-right: 10px;
        padding-left: 10px;
    }
}


/*Desde aquí*/

#barra_de_progreso1 {
    display: flex;
    height: 80px;
    margin-top: 0;
    min-width: 250px;
    align-items: center;
}

#barra_de_progreso1 a i {
    justify-items: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 35px;
}

* #uno a i {
    font-size: 35px;
    color: greenyellow;
}

#barra_de_progreso2 {
    display: flex;
    height: 80px;
    margin-top: 0;
    min-width: 250px;
    align-items: center;
}

#barra_de_progreso2 a i {
    justify-items: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 35px;
}

#dos a i {
    font-size: 35px;
    color: greenyellow;
}

#barra_de_progreso3 {
    display: flex;
    height: 80px;
    margin-top: 0;
    min-width: 250px;
    align-items: center;
}

#barra_de_progreso3 a i {
    justify-items: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 35px;
}

#tres a i {
    font-size: 35px;
    color: greenyellow;
}

#coment {
    border-top: 100px;
    height: 300px;
    align-items: baseline;
}

#step2 {
    max-width: 315px;
    display: flex;
    flex-direction: column;
}

#contenedor {
    display: contents;
    height: 300px;
    width: 300px;
    align-content: space-around;
}